source .venv/bin/activate                                                                                                                                   
export PYTHONPATH=src                                                                                                                                       
dotenv_if_exists .env 


